body {
  background-color: #282c34;
}

.App {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  height: 100vh;
}

.image-div {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 300px;
  padding-left: 20px;
  padding-right: 20px;
  box-sizing: border-box;
}

img {
  height: 80%;
  border: 1px solid #282c34;
  border-radius: 10px;

  transition-duration: 5ms;
  transition: ease-in-out;
}

.button-div {
  height: 50px;
  width: 180px;
  margin-bottom: 5px;

  display: flex;
  align-items: center;
  justify-content: center;
}

button {
  width: 170px;
  height: 35px;
  font-weight: bold;
  border: 1px solid #282c34;
  border-radius: 10px;
  color: #282c34;
  background-color: aliceblue;
  transition-duration: 0.4s;
}

button:hover {
  background-color: #282c34;
  color: aliceblue;
  border: 2px solid aliceblue;
  height: 36px;
  width: 171px;
}

.loader {
  border: 16px solid #f3f3f3; /* Light grey */
  border-top: 16px solid #3498db; /* Blue */
  border-radius: 50%;
  width: 120px;
  height: 120px;
  animation: spin 2s linear infinite;
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

@media only screen and (min-width: 600px) {
  .App {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  .image-div {
    height: 500px;
    padding-left: 0px;
    padding-right: 0px;
    box-sizing: border-box;
  }

  img {
    height: 90%;
  }
}
